<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionTest">
  <test thread-count="5" name="Application">
    <classes>
      <class name="com.expedia.flightsbooking_profiles.TestNG_TestSuite"/>
    </classes>
  </test> <!-- Application -->
</suite> <!-- RegressionTest -->
